---
import Emoji from 'astro-emoji'
import packageJson from '../../package.json'
const version = packageJson.dependencies['astro'].match(/\d+(\.\d+){0,2}/)?.[0]
---

<footer>
	<ul role="list">
		<li>
			Made with <Emoji symbol="â¤ï¸" /> in Cologne
		</li>
		<li>
			and <Emoji symbol="ðŸš€" /> Astro v{version}
		</li>
	</ul>
</footer>

<style>
	ul,
	li {
		padding-left: 0;
		display: inline;
	}

	footer {
		background-color: var(--surface-2);
		font-family: var(--font-mono);
		font-size: var(--font-size-00);
		bottom: 0;
		left: 0;
		padding: var(--size-2) 0;
		position: absolute;
		text-align: center;
		user-select: none;
		width: 100%;
	}
</style>
