---
import Facebook from './Link/Facebook.astro'
import GitHub from './Link/GitHub.astro'
import Instagram from './Link/Instagram.astro'
---

<section>
	<ul role="list">
		<Facebook />
		<GitHub />
		<Instagram />
	</ul>
</section>

<style>
	section {
		margin-top: var(--size-4);
	}
</style>
