---

---

<section>
	<p>
		How do you like my profile domain?<br />
		 Check my latest project 👉 <a href="https://freedomain.directory">FreeDomain.Directory</a>
	</p>
</section>

<style>
	section {
		text-align: center;
		display: flex;
		flex-direction: column;
		font-family: monospace;
		margin-block-start: 1.5rem;
		gap: 1rem;
	}

	h2 {
		font-family: monospace;
	}
</style>
