---
import { Icon } from 'astro-icon'
import { USERNAME } from '~/config'
---

<li>
	<a href=`https://www.instagram.com/${USERNAME.INSTAGRAM}` target="_blank">
		<Icon name="mdi:instagram" />
	</a>
</li>

<style>
	a > * {
		width: var(--size-6);
		height: auto;
	}

	a:link,
	a:visited {
		text-decoration: none;
		color: var(--text-1);
	}

	li {
		display: inline;
	}

	li:not(:first-child) {
		margin-left: var(--size-2);
	}
</style>
